  a {
    color:#000;
    text-decoration: none;
    font-family: "goudyserif",Georgia,serif;
  }
  #lastfm .solidbg { background-color: rgba(255, 48, 64, 1);}
  #twitter .solidbg { background-color: rgba( 10, 90, 50, 1);}
  #linkedin .solidbg { background-color: rgba(34, 136, 255, 1);}
  #sobre .solidbg { background-color: #7cf;}
  #webgl .solidbg { background-color: rgba(238, 136, 221, 1);}
  #contato .solidbg { background-color: rgba(255, 96, 50, 1);}
  #gplus .solidbg { background-color: rgba(66, 66, 66, 1);}
  #github .solidbg { background-color: rgba(0, 0, 0, 1);}
  #facebook .solidbg {  background-color: rgba(74, 103, 168, 1);}
  #taoofprogramming .solidbg { background-color: #FFD079;}


  .icon-container { width:50%; height:50%; background-size:contain; background-position: center; background-repeat: no-repeat; margin:auto; top: 0; transform: rotate(0);}

  #lastfm .icon-container {background-image: url("/img/lastfmicon.png"); }
  #twitter .icon-container {background-image: url("/img/twittericon.png"); }
  #linkedin .icon-container {background-image: url("/img/linkedinicon.png"); }
  #sobre .icon-container {background-image: url("/img/grouchoicon.png"); }
  #webgl .icon-container {background-image: url("/img/webglicon.png"); }
  #contato .icon-container {background-image: url("/img/emailicon.png"); }
  #gplus .icon-container {background-image: url("/img/gplusicon.png"); }
  #github .icon-container {background-image: url("/img/githubicon.png"); }
  #facebook .icon-container {background-image: url("/img/facebookicon.png");  }
  #taoofprogramming .icon-container {background-image: url("/img/taoicon.png"); }

  #lastfm{ background: url("/img/lastfmbg.png") center center no-repeat; background-size: cover;}
  #twitter{ background: url("/img/twitterbg.png") center center no-repeat; background-size: cover;}
  #linkedin{ background: url("/img/linkedinbg.png") center center no-repeat; background-size: cover;}
  #sobre{ background: url("/img/sobrebg.png") center center no-repeat; background-size: cover;}
  #webgl{ background: url("/img/webglbg.png") center center no-repeat; background-size: cover;}
  #contato{ background: url("/img/emailbg.png") center center no-repeat; background-size: cover;}
  #gplus{ background: url("/img/gplusbg.png") center center no-repeat; background-size: cover;}
  #github{ background: url("/img/githubbg.png") center center no-repeat; background-size: cover;}
  #facebook{ background: url("/img/facebookbg.png") center center no-repeat; background-size: cover;}
  #taoofprogramming{ background: url("/img/taobg.png") center center no-repeat; background-size: cover;}

  .hover-f2:hover { flex:2; }
  .hover-f3:hover { flex:3; }
  .hover-f4:hover { flex:4; }

  .icon-box { position:relative; transition: all 1s; }

  .icon-box .content { position:absolute; height:100%; opacity:0; width:100%; overflow:hidden;  transition-delay:0s;}
  .icon-box:hover .content { height:100%;width:100%; opacity:1; transition-delay:0.3s; }
    .icon-box .content > a {
      text-align: center;
      line-height:3rem;
      font-size: 3rem;
      padding: 2rem 0;
      width:100%;
      top:50%;
      margin-top:-1rem;
      background-color: white;
      border-top: 0px solid black;
      border-bottom: 0px solid black;
      display: block;
    }
    .icon-box .content a:hover {
      text-decoration: underline;transition: all 0.3s;
    }
  .icon-box .content img { max-width: 70%;max-height: 80%; margin: 10% 15%;}
  .icon-box .solidbg { position:absolute; height:100%; width:100%; overflow:hidden;}
  .icon-box:hover .solidbg { opacity:0;}

  #sobre h1 {
    font-family: "goudyserif",Georgia,serif; font-weight: bold;
  }
  #sobre p {
    font-family: "pt_sansregular", Arial, sans-serif;
  }

  /* wow, such media queries */

  body, html {
      font-size:16px;
  }
  @media (max-width: 1000px) {
    body, html {
      font-size:14px;
    }
    #sobre { text-align: center;}
    #sobre h1 { margin: 0;}
  }
  /* medium */
  @media (max-width: 768px) {
    body, html {
      font-size:12px;
    }
  }

  #webfonts .solidbg { background-color:#424242; }
  #yeswequero .solidbg { background-color: #4BAB4B; }
  #webfonts .icon-container {background-image: url("/img/webfontsicon.png"); }
  #yeswequero .icon-container {background-image: url("/img/pvicon.png"); }
  #webfonts{ background: url("/img/webfontsbg.png") center center no-repeat; background-size: cover;}
  #yeswequero{ background: url("/img/yeswequerobg.png") center center no-repeat; background-size: cover;}
