body,html, viewport,.wrapper {
    width:100%;
    height: 100%;
    padding:0;
    margin:0;
  }

  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    align-items: center;transition: all 1s; 
  }
  .media-flex {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }
  @media (max-width: 1000px) {
    .media-flex {
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
    }
  }
  .flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  

    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;

    justify-content: space-around;
    transition: all 1s; 
  }

  .flex-col {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    justify-content: space-around;
    transition: all 1s; 
  }

  .flex-1 { flex:1; }
  .flex-2 { flex:2; }
  .flex-3 { flex:3; }




/* bg doido */
.background-doido { background: #7cf;
  animation-name: animacaoCores;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes animacaoCores {
  0% {
    background: #7cf;
  }
  25% { }
  50% { background: #fc7; }
  75% { }
  100% { background: #7cf;  }
}
