a {
    color: #000;
    text-decoration: none;
}

html,
body {
    background-color: black;
    color: white;
    font-family: 'Inconsolata';
}

.glitchype {
    top: 30vh;
    width: 100%;
}

.glitchype input {
    background-color: transparent;
    color: white;
    font-size: 3em;
    padding:1rem 0;
    font-family: 'Inconsolata';
    text-align: center;
    border: 0;
    font-weight: bold;
    width: 100%;
}
